<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>

    <link rel="stylesheet" href="{% static '/djangoApp/styles/sl.css' %}">

</head>
<body>

<h1>djangoApp esta funcionandoooo :o</h1>

<h2>Login</h2>

<form>
    <label>Usuário ou Email:</label><br>
    <input type="text" name="usuario"><br><br>

    <label>Senha:</label><br>
    <input type="password" name="senha"><br><br>

    <button type="submit">Entrar</button>
</form>
    
</body>
</html>