<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefas></th>
      <th scope="col">Descrição</th>
      <th scope="col">Data de vencimento</th>
      <th scope="col">Status</th>
      <th scope="col">ações</th>
    </tr>
  </thead>
  <tbody>
    {% for tarefa in tarefas %}
    <tr>
      <th scope="row">{{ tarefa.id }}</th>
      <td>{{ tarefa.nome }}</td>
      <td>{{ tarefa.descricao}}</td>
      <td>{{ tarefa.data_vencimento}}</td>
      <td>{{ tarefa.status}}</td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>